* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1539735257177-0d3949225f96?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGxhdGUlMjBvZiUyMGZvb2R8ZW58MHx8MHx8fDA%3D);
  filter: blur(8px);
}

.mainpage {
  text-align: center;
  position: fixed;
  left: 20%;
  top: 5%;
  width: 60%;
  height: 90vh;
  background-color: rgba(256, 256, 256, 0.5);
}

.header {
  margin-top: 25px;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 30px;
}

.text {
  margin-top: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.input {
  position: relative;
}

#food {
  position: absolute;
  margin-top: 2%;
  margin-left: -45%;
  width: 43%;
  height: 5vh;
  font-size: 38px;
  border: none;
  background-color: #e1ffea;
}

#submit
 {
  position: absolute;
  padding: 16px;
  left: 85%;
  width: 10%;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 1; 
}

#reset {
  position: absolute;
  padding: 16px;
  left: 85%;
  margin-top: 4%;
  width: 10%;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: red;
  z-index: 1;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2.7%;
  margin-left: 52%;
  width: 30%;
  background-color: white;
  z-index: 0; 
}

.checkboxes p {
  margin: 5px;
}

.tracker {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 5%;
  width: 90%;
  height: 57vh;
  overflow-y: auto;
}

.tracker > div {
  background-color: #000000;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  height: 5vh;
  font-size: 15px;
}

.foodNames,
.foodType {
  flex: 1;
  width: 70%;
}

.foodNames p,
.foodType p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.foodNames p {

  font-size: 30px;

}

.foodType p {

  font-size: 20px;

}

.foodNames h3,
.foodType h3 {
  color: white;
  display: block;
  font-size: 25px;
}
